    #grad2 {
      height: 100%;
      background-image: linear-gradient(grey, white);
    }

    .container {
      color: red;
      padding: 16px;
    }

    input[type=text], input[type=password] {
      width: 25%;
      padding: 15px;
      margin: 5px 0 22px 0;
      display: inline-block;
      border: none;
      border-radius: 18px;
      background: white;
    }

    input[type=text]:focus, input[type=password]:focus {
      background-color: #ddd;
      outline: none;
    }

    hr {
      border: 1px solid black;
    }
    
    .halfhr {
      border: 1px solid black;
      width: 50%;
    }

    .registerbtn {
      background-color: black;
      color: white;
      padding: 16px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
      opacity: 0.9;
    }

    .registerbtn:hover {
      opacity:1;
    }

    a {
      color: dodgerblue;
    }
    
    .signin {
      background-color: #f1f1f1;
      text-align: center;
    }
a {color:black;
    font-size:20px}
body {background-color:none}
h1   {color: red;}
p    {color: red;}
bigp{color: red;
  font-size: 40px
}

input.placeholdermiddle {
    text-align: center;
}

/*** bundan sonrasi userprofile ***/
.gradient-custom {
  /* fallback for old browsers */
  background: #f6d365;
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))
  }
